<div class="container-create-task-wrapper">
    <h1>Criar tarefa</h1>

    <div class="container-create-task">
        <form action="/CreateTask" method="POST">
            <div class="form-control">
                <label for="task">Tarefa</label>
                <input type="text" autocomplete="off" name="task" placeholder="Informe aqui a tarefa">
            </div>

            <div class="form-control">
                <label for="description">Descrição da tarefa</label>
                <input type="text" autocomplete="off" name="description" placeholder="Informe aqui a descrição da tarefa">
            </div>

            <input type="submit" value="Cadastrar Tarefa">
        </form>
    </div>

</div>
