<div class="container-home-wrapper">
    <h1>Seja bem vindo ao <span>TodoList</span> </h1>

    <div class="control-home">
        <a href="/CreateTask">Criar Tarefa</a>
        <a href="/findAll/tasks">Ver tarefas</a>
    </div>
    
</div>
